.editSkill-cont {
  padding-top: 20px;
  width: 100vw;
  height: 100vh;
  background-color: #00000070;
  /* transition: all 0.3s; */
  display: block;
  position: fixed;
  display: grid;
  place-items: center;
  z-index: 10;
}
.editSkill {
  background-color: white;
  margin: 50px auto;
  padding: 0 5% 30px;
  border-radius: 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 943px;
  height: 590px;
}
.headerEditSkill {
  background-color: #f1f5ff;
  border-radius: 0 0 40px 40px;
  display: grid;
  place-items: center;
  width: 70%;
  height: 80px;
  max-width: 455px;
  text-align: center;
  color: #2452af;
}
.headerEditSkill p {
  font-size: 19px;
  font-weight: 500;
  color: #003aaa;
}
.formEditSkill {
  width: 100%;
}
.formEditSkill p {
  color: #757575;
  margin-bottom: 5px;
}
.formEditSkill p:nth-child(3) {
  margin-top: 10px;
}
.editSkill .formEditSkill input[type="text"],
.editSkill .formEditSkill textarea {
  border: 2px solid #eee;
  width: inherit;
  padding: 10px;
  border-radius: 5px;
  font-size: 15px;
}
.editSkill .formEditSkill input[type="text"] {
  width: 50%;
}
.editSkill .formEditSkill input[type="text"]:focus,
.editSkill .formEditSkill textarea:focus {
  outline: none;
}
.editSkill .formEditSkill textarea {
  height: 250px !important;
  width: 100% !important;
  margin-bottom: 70px;
  resize: none;
}
.buttonsFES input[type="button"] {
  border-radius: 40px;
  border: none;
  padding: 10px 50px;
  background-color: #ededed;
  box-shadow: 4px 3px 12px 2px rgb(0 0 0 / 20%);
}
.buttonsFES input[type="button"]:nth-child(1) {
  background-color: #003aaa;
  color: #fff;
  margin: 0 10px 0 0;
}
@media screen and (max-width: 500px) {
  .editSkill .formES input[type="text"] {
    width: 100%;
  }
  .editSkill .formEditSkill input[type="text"] {
    width: 100%;
  }
  .formEditSkill p:nth-child(1) {
    margin-top: 20px;
  }
  .buttonsFES input[type="button"] {
    flex-grow: 1;
    padding: 10px 40px;
  }
  .editSkill {
    width: 90%;
    height: 80%;
  }
  .headerEditSkill p {
    font-size: 15px;
  }
  .buttonsFES {
    display: flex;
    justify-content: center;
    margin-top: 50px;
  }
  .buttonsFAS.bFASAE {
    position: sticky;
    bottom: 0;
  }
}
.deleteEditSkill {
  color: #aa000f;
  display: block;
}
