* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  font-size: 10px;
  box-sizing: border-box;
}
body,
p,
h1,
h2,
h3,
h4,
h5,
div,
button,
h6,
input {
  margin: 0;
  padding: 0;
  font-family: "iransans";
  box-sizing: border-box;
}
@font-face {
  font-family: "iransans";
  font-weight: 400;
  src: url("./assets/fonts/IRANSans-Medium-web.woff");
}
@font-face {
  font-family: "iransans";
  font-weight: 200;
  src: url("./assets/fonts/IRANSans-Light-web.woff");
}
